* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-menu{
    display: flex;
    height: auto;
    justify-content: center;
}

.flex-menu .menu{
    width: 50%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr 1fr 1fr));
    grid-gap: 10px;
    grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."; 
}

.container img{
    width: 100%;
    height: auto;
}

.container .gallery{
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.gallery:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease-out;
}